*.a
*.la
*.lo
*.o
*~
.*.swp
.deps
.gdb_history
.libs
/rfcat
/stamp-h1
/tags
/version.h
Makefile
Makefile.in
Session.vim
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
foo*
install-sh
libtool
ltmain.sh
missing
rfcat
rfile.pc
rfile_struct.*
