*.a
*.la
*.lo
*.o
*~
.*.swp
.deps
.libs
Makefile
Makefile.in
Session.vim
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
foo*
install-sh
libtool
ltmain.sh
missing
rfile.pc
src/rfcat
src/rfile
src/rfile_struct.*
stamp-h1
tags
tests/basic
tests/filename
tests/refs
